* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem;
    color: rgb(0, 0, 0);
}

.logo{
    width: 25px;
    height: auto;
    margin-right: -5px;
}

.container-pai {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdd3ce;
    border: 2px solid #333333fd;
    gap: 5px;
    padding: 10px;
}

.container-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 7px; 
    margin-top: 5px;
}

.btn{
    background-color: #fda89f;
    cursor: pointer;
    padding: 2px;
    color: rgb(3, 3, 3);
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    font-weight: 500;
}

.btn:hover {
    background-color: #dd7070;
}

.input-text{
    background-color: #fda89f;
    border-radius: 1px;
    border: rgb(41, 39, 56);
    border: 1px solid #000000;
    margin-top: -7px;
    height: 25px;
    border-radius: 3px;
}

input::placeholder {
  color: #000000; 
  font-weight: 500;
}

.cabecalho-conteudo {
    display: flex;
    align-items: center;
    gap: 6px;         
    flex-direction: row-reverse;
    padding: 4px;     
}

.result{
    width: 157.5px;
    height: 68px;
    background-color: #fda89f;
    border: 0.5px solid #000000;
    justify-content: start;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    font-weight: 500;
}

/* Rodapé */
.rodape{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}

.link{
    color: #fa5542;
    display: flex;
    margin-top: 6px;
    justify-content: center;
}

.link:hover {
    color: #be3535;
}

#btnLimpar{
    width: 78px;
}

#btnMinuscula {
    width: 75px;
}

#btnNegrito{
    width: 75px;
}

#btnPrimeiraLetraMaiuscula {
    width: 160px;
}